footer{ 
    background-color: var(--color-dark-1);
    padding-bottom: 3vh;
    padding-top: 15vh;
    color: var(--color-white-1);
}
footer a{
    color: var(--color-white-2);
    margin-bottom: 3vh;
}
.footer-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20vh;
}
.footer-content h3{
    margin-bottom: 5vh;
}
.footer-content a{
    font-size: 1.3rem;
}
footer .links{
    display: flex;
    flex-direction: column;
}
.footer-icons i{
    font-size: 2.5rem;
    margin-right: 1.5rem;
}
.footer-five .download{
    margin-top: 2vh;
    margin-bottom: 4vh;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.footer-five .app img{
    display: block;
    margin-bottom: 1vh;
    height: 4rem;
}
footer > p{
    text-align: center;
    color: rgb(187, 187, 187);
    margin-top: 20vh;
}
@media screen and (max-width: 1070px){
    .footer-content{
        display: grid;
        grid-template-columns: 30% 25% 25%;
    }
    .footer-five{
        grid-column: 2 / span 2;
    }
}
@media screen and (max-width: 800px){
    .footer-content{
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .footer-five{
        grid-column: 1 / span 2;
        margin-top: 3vh;
    }
    footer > p{
        font-size: 1rem;
    }
    .footer-five .app img{
        height: 5rem;
    }
    .footer-five .download > img{
        height: 10rem;
    }
    .footer-icons i{
        font-size: 3.5rem;
        margin-right: 1.5rem;
    }
}